[submodule "git-submodule-test"]
	path = git-submodule-test
	url = https://github.com/alekseyolg/git-submodule-test.git
[submodule "jupyterhub"]
	path = jupyterhub
	url = https://github.com/jupyterhub/jupyterhub.git
[submodule "airflow-dags-kubernetes"]
	path = airflow-dags-kubernetes
	url = https://github.com/alekseyolg/airflow-dags-kubernetes.git