[submodule "git-submodule-test"]
	path = git-submodule-test
	url = https://github.com/alekseyolg/git-submodule-test.git
[submodule "jupyterhub"]
	path = jupyterhub
	url = https://github.com/jupyterhub/jupyterhub.git
